html, body {
    box-sizing: border-box;
    /* position: fixed;
    width: 100%;
    min-height: 100%; 
    z-index: 1;
    margin: auto;
    left: 0;
    top: 0; */
    transition: 0.5s ease-in-out;
}
body{
    background-image: url('./images/theisland-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.admin-class {
    display: none;
}
.map-name-banner {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.wrapper {
    position: relative;
    background-color: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.card {
    margin: 1em;
    min-width: 500px;
    min-height: 600px;
}
.card, .div-item{
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}
.card-body>div {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0.25em;
}
.form-group label{
    font-weight: bold;
}
.server-settings {
    height: 400px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}
.server-settings li::before {
    content: "- ";
}
.item {
    color: rgb(111, 145, 255);
}
.toggle {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    transition: ease 500ms;
    cursor:  unset;
}

.toggle:hover {
    background-color: teal;
}